@import 'src/assets/styles/variables';

.menuBackdrop {
	position: absolute;
	backdrop-filter: blur(10px);
	background-color: $bgdefault;
	width: 100%;
	z-index: 999;
	&.open {
		height: 100vh;
	}
}

.menuContent {
	padding: 10px;
	opacity: 0;
	transition: opacity 0.3s ease;
	animation: fadeIn 0.4s ease forwards;
}
@media only screen and (max-width: 767px) {
	.menuBackdrop {
		height: 100vh;
	}
	.menuContent {
		padding: 20px;
		opacity: 0;
		transition: opacity 0.3s ease;
		animation: fadeIn 0.4s ease forwards;
	}
}
