/* Стили для контейнера слайдера */
.slider-container {
	width: 48%; /* Ширина контейнера, можете настроить по своему усмотрению */
	margin: 0 auto; /* Центрирование контейнера */
}

/* Стили для точек-пагинации */
.slick-dots {
	position: absolute;
	bottom: 0; /* Расположение точек снизу */
	list-style: none;
	text-align: center;
	padding: 0;
	margin: 0;
	width: 100%;
}

.slick-dots li {
	width: 75px !important;
	height: 75px !important;
	display: inline-block;
	margin: 0 5px; /* Расстояние между точками */
}

.slick-dots li button {
	font-size: 0; /* Скрытие текста внутри кнопок */
	width: 10px; /* Ширина кнопок */
	height: 10px; /* Высота кнопок */
	border: none;
	border-radius: 50%; /* Делаем кнопки круглыми */
	background-color: rgba(255, 255, 255, 0.5); /* Цвет кнопок */
	cursor: pointer;
	transition: background-color 0.3s ease; /* Плавное изменение цвета при hover */
}

.slick-dots li button:hover {
	background-color: rgba(255, 255, 255, 0.9) !important;
}
.slick-dots li img {
	filter: grayscale(100%);
}

.slick-dots li {
	transition: top 0.3s ease; /* Добавляем анимацию для свойства top */
	top: 0px;
}
.slick-dots li.slick-active img {
	filter: grayscale(0%);
}

.slick-dots li.slick-active {
	top: -15px;
}

.slider-container img {
	width: 100%;
	height: auto;
	border-radius: 10px;
}

.slider-container {
	position: relative;
	.slick-prev,
	.slick-next {
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		z-index: 9999; /* Установка высокого z-index */
		width: 30px;
		height: 30px;
		background-color: rgba(255, 255, 255, 0);
		border: none;
		color: transparent;
		font-size: 0;
		cursor: pointer;
		padding: 0;
	}

	.slick-prev {
		left: 10px;
	}

	.slick-next {
		right: 40px;
	}

	/* Оформление кнопок при наведении */
	.slick-prev:hover,
	.slick-next:hover {
		// background-color: rgba(0, 0, 0, 0.7);
	}
}
@media only screen and (max-width: 767px) {
	.slider-container {
		width: 100%; /* Ширина контейнера, можете настроить по своему усмотрению */
		margin: 0 auto; /* Центрирование контейнера */
	}

	.slick-dots li {
		width: 50px !important;
		height: 50px !important;
		display: inline-block;
		margin: 0 5px; /* Расстояние между точками */
	}
	.slick-dots {
		position: absolute;
		bottom: 0px; /* Расположение точек снизу */
		list-style: none;
		text-align: center;
		padding: 0;
		margin: 0;
		width: 100%;
	}
}
