.containerMain {
	display: flex;
	flex-wrap: wrap;
	gap: 20px;
}
.containerMainItem {
	flex: 1 0 23%;
	background-color: #1c1c1c;
	gap: 5px;
	border-radius: 5px;
	font-size: 1.5em;
	cursor: pointer;
	// padding: 10px 20px;
}
.mainItemBlockSlider {
	position: relative;
	overflow: hidden;
	width: 100%;
	border-radius: 10px;
	height: 200px;
	img {
		width: 100%;
		height: 100%;
		object-fit: cover;
	}
}

.mainItemContent {
	display: flex;
	justify-content: space-between;
	padding: 10px 20px;
	font-size: 10px;
}
.contentItemTitle {
	// margin-top: 20px;
}
// .titleService {
// 	font-size: 15px;
// }
// .titleCheck {
// 	font-size: 15px;
// }
// .contentItemSubtitle {
// 	font-size: 15px;
// }
// .subtitleAddress {
// 	font-size: 15px;
// }
// .subtitleQuadrature {
// 	font-size: 15px;
// }
