@import 'src/assets/styles/variables';
.container {
	position: fixed;
	height: 60px;
	width: 60px;
	top: 280px;
	right: 0;
	transform: translate(0, -50%);
	background-color: $bgdefault;
	padding: 10px;
	z-index: 1000;
	cursor: pointer;
	border-top-left-radius: 10px;
	border-bottom-left-radius: 10px;
	img {
		width: 40px;
		height: 40px;
	}
}
