@import 'src/assets/styles/variables';
.containerCalculator {
	display: flex;
	flex-wrap: wrap;
	background-color: $bgDefaultAccentBlock;
	border-radius: 10px;
}
.containerHeader {
	display: flex;
	flex-direction: column;
	.contentHeaderTitle {
		font-size: 25px;
		color: #ffd622;
		font-weight: 800;
	}
	.contentHeaderSubtitle {
		font-size: 15px;
		color: $fontColorAccent;
		font-weight: 800;
	}
}
.dopRadots {
	margin-top: 20px;
}
.rangeOfRoomBlock {
	margin-top: 20px;
	margin-bottom: 20px;
	label {
		margin-bottom: 10px;
		span {
			color: $accent;
		}
	}
	.customRange {
		margin-top: 10px;
		position: relative;
		width: 100%;
		height: 10px;
		border-radius: 5px;
		background-color: $fontColor;

		.input {
			position: absolute;
			width: 100%;
			height: 100%;
			margin: 0;
			padding: 0;
			appearance: none;
			background-color: transparent;
			border: none;
			outline: none;
			&::-webkit-slider-thumb {
				-webkit-appearance: none;
				appearance: none;
				width: 20px;
				height: 20px;
				background: $accent;
				border-radius: 50%;
				cursor: pointer;
			}
		}
		.fill {
			position: absolute;
			height: 100%;
			background-color: $accent;
			border-radius: 5px;
			transition: width 0.01s;
		}
	}
}

.calculatorActionFormBlock {
	flex: 1 0 48%;
	background-color: $bgDefaultAccentBlock;
	border-radius: 10px;
	padding: 20px;
	.containerHeaderForm {
		display: flex;
		flex-direction: column;
		gap: 10px;
		margin-bottom: 20px;
		.contentHeaderTitleForm {
			font-size: 25px;
			color: $fontColorAccent;
			font-weight: 800;
			span {
				color: $accent;
			}
		}
		.contentHeaderSubtitleForm {
			font-size: 15px;
			color: $fontColorAccent;
			font-weight: 800;
		}
	}
}

.calculatorBlock {
	display: flex;
	padding: 20px;
	flex: 1 0 48%;
	flex-direction: column;
	background-color: $bgDefaultAccentBlock;
	gap: 16px;
}

.calculatorForm {
	.blockTypeServices {
		.typeServices {
			display: flex;
			gap: 10px;
		}
	}
	.numberOfRooms {
		display: flex;
	}

	& label {
		display: block;
		font-size: 20px;
		margin: 5px 0px;
		font-weight: bold;
		color: $fontColor;
	}

	& input[type='range'] {
		display: block;
		width: 100%;
		padding: 8px;
		border: 1px solid #ccc;
		border-radius: 4px;
		font-size: 14px;
		line-height: 1.5;
		color: #333;

		&:focus {
			outline: none;
			box-shadow: 0 0 4px 1px #333;
		}
	}

	& input[type='radio'] {
		margin-right: 8px;
	}

	& button[type='button'] {
		display: block;
		padding: 8px 16px;
		border: none;
		border-radius: 4px;
		background-color: #333;
		color: $fontColorAccent;
		font-size: clamp(12px, 2vw, 14px);
		font-weight: bold;
		cursor: pointer;

		&:hover {
			background-color: #444;
		}

		&:disabled {
			background-color: #ccc;
			cursor: not-allowed;
		}
	}

	& #numberOfRooms {
		display: inline-block;
		width: 32px;
		text-align: center;
		font-size: 14px;
		color: #333;
	}

	& .roomsButtons {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}
}
.numberOfRoomsBlock {
	display: flex;
	margin-bottom: 10px;
	.containerNumberOfRooms {
		display: flex;
		gap: 50px;
		width: 100%;
		.numberOfRoomsItem {
			display: flex;
			flex-direction: column;
			width: 200px;
			.roomsItemButton {
				display: flex;
				justify-content: space-around;
				border-radius: 5px;
				background-color: #333;
				span {
					position: relative;
					top: 9px;
					font-size: 25px;
					color: $fontColorAccent;
				}
				button {
					background-color: #333;
					padding: 5px;
					img {
						width: 30px;
						height: 30px;
					}
				}
			}
		}
	}
}

.checkBox {
	display: block;
	cursor: pointer;
	width: 20px;
	height: 20px;
	border: 3px solid rgba(255, 255, 255, 0);
	border-radius: 5px;
	position: relative;
	overflow: hidden;
	box-shadow: 0px 0px 0px 2px #fff;
}

.checkBoxBlock {
	display: flex;
	align-items: center;
	gap: 10px;
	font-size: clamp(16px, 2vw, 20px);
	font-weight: bold;
	color: #646464;
	.checkBox {
		div {
			width: 40px;
			height: 40px;
			background-color: #fff;
			top: -52px;
			left: -52px;
			position: absolute;
			transform: rotateZ(45deg);
			z-index: 100;
		}
	}

	.checkBox input[type='checkbox']:checked + div {
		left: -10px;
		top: -10px;
	}

	.checkBox input[type='checkbox'] {
		position: absolute;
		left: 50px;
		visibility: hidden;
	}

	.transition {
		transition: 300ms ease;
	}
}
@media only screen and (max-width: 767px) {
	.calculatorActionFormBlock {
		flex: 1 0 48%;
		background-color: $bgDefaultAccentBlock;
		border-radius: 10px;
		padding: 10px;
	}
	.calculatorBlock {
		display: flex;
		padding: 10px;
	}
	.numberOfRoomsBlock {
		display: flex;
		margin-bottom: 10px;
		.containerNumberOfRooms {
			display: flex;
			flex-wrap: wrap;
			gap: 20px;
			.numberOfRoomsItem {
				display: flex;
				flex-direction: column;
				width: 150px;
				.roomsItemButton {
					display: flex;
					justify-content: space-around;
					border-radius: 5px;
					background-color: #333;
					span {
						font-size: 25px;
						color: $fontColorAccent;
					}
					button {
						background-color: #333;
						padding: 5px;
						img {
							width: 30px;
							height: 30px;
						}
					}
				}
			}
		}
	}
	.calculatorForm {
		.blockTypeServices {
			.typeServices {
				display: flex;
				gap: 15px;
			}
		}
		.numberOfRooms {
			display: flex;
		}

		& label {
			display: block;
			font-size: 16px;
			margin: 5px 0px;
			font-weight: bold;
			color: $fontColor;
		}

		& input[type='range'] {
			display: block;
			width: 100%;
			padding: 8px;
			border: 1px solid #ccc;
			border-radius: 4px;
			font-size: 14px;
			line-height: 1.5;
			color: #333;

			&:focus {
				outline: none;
				box-shadow: 0 0 4px 1px #333;
			}
		}

		& input[type='radio'] {
			margin-right: 8px;
		}

		& button[type='button'] {
			display: block;
			padding: 5px 10px;
			border: none;
			border-radius: 4px;
			background-color: #333;
			color: $fontColorAccent;
			font-weight: bold;
			cursor: pointer;

			&:hover {
				background-color: #444;
			}

			&:disabled {
				background-color: #ccc;
				cursor: not-allowed;
			}
		}

		& #numberOfRooms {
			display: inline-block;
			width: 32px;
			text-align: center;
			font-size: 14px;
			color: #333;
		}

		& .roomsButtons {
			display: flex;
			align-items: center;
			justify-content: space-between;
		}
	}
}
