@import 'src/assets/styles/variables';
.wrapperDesigner {
}

.container {
	margin: 0 auto;
	max-width: 1280px;
}

.containerBlock {
	display: flex;
	flex-direction: column;
	margin-top: 20px;
	margin-bottom: 100px;
}
.containerBreadCrumbs {
}

.containerHeader {
	display: flex;
	flex-direction: column;
	text-align: center;
	align-items: center;
	border-radius: 10px;
	margin-top: 20px;
	gap: 10px;
	.contentHeaderTitle {
		margin-top: 20px;
		font-size: clamp(27px, 4vw, 45px);
		color: #ffd622;
		font-weight: 800;
	}
	.contentHeaderSubtitle {
		font-size: clamp(16px, 4vw, 25px);
		color: $fontColorAccent;
		font-weight: 800;
		margin-bottom: 40px;
	}
}
.containerDescription {
	display: flex;
	gap: 10px;
	flex-wrap: wrap;
	.descriptionItem {
		margin-top: 10px;
		line-height: 1.2;
		flex: 1 0 48%;
		border-radius: 10px;
		background-color: $bgDefaultAccentBlock;
		padding: 20px;
		font-size: 15px;
		color: $fontColorAccent;
	}
}

.containerCalculator {
	margin-top: 10px;
	border-radius: 10px;
	background-color: $bgDefaultAccentBlock;
}

.actionItem {
	margin-top: 10px;
	border: 2px solid rgba(178, 178, 178, 0.382);
	border-radius: 10px;
	padding: 40px;
	.calculator {
		text-align: center;
	}
}
.containerPricesServices {
	display: flex;
	gap: 10px;
	flex-wrap: wrap;
	margin-top: 10px;
	.pricesServices {
		flex: 1 0 20%;
		text-align: center;
		border: 2px solid rgba(178, 178, 178, 0.382);
		border-radius: 10px;
		background-color: #2727273b;
		padding: 20px;
		color: $fontColorAccent;
		.servicesTitle {
			font-size: 20px;
			color: $fontColorAccent;
			font-weight: 700;
		}
		.servicesSubtitle {
			margin-top: 5px;
			font-weight: 800;
			font-size: 15px;
			color: $accent;
		}
	}
}
.containerActions {
	display: flex;
	gap: 10px;
	.actionItem {
		&:first-child {
			flex: 1 0 70%;
			.actionItemTitle {
				font-size: 35px;
				font-weight: 800;
				color: $accent;
				margin-bottom: 20px;
			}
			.actionItemSubtitle {
				width: 70%;
				font-size: 20px;
				color: $fontColorAccent;
				font-weight: 700;
			}
		}
		&:last-child {
			flex: 1 0 30%;
			display: flex;
			flex-direction: column;
			img {
				width: 50px;
				height: 50px;
			}
			.actionItemTitle {
				font-size: 25px;
				font-weight: 800;
				color: $accent;
			}
			.actionItemSubtitle {
				font-size: 15px;
				color: $fontColorAccent;
				font-weight: 700;
			}
			.containerButtonItem {
				display: flex;
				justify-content: start;
				margin-top: 20px;
			}
		}
	}
}
.containerButton {
	display: flex;
	justify-content: end;
	margin-top: 43px;
}
@media only screen and (max-width: 767px) {
	.container {
		margin: 0 20px;
	}
	.containerHeader {
		border-radius: 10px;
		margin-top: 20px;
		.contentHeaderTitle {
			margin-top: 20px;
			color: #ffd622;
			font-weight: 800;
		}
		.contentHeaderSubtitle {
			margin-top: 10px;
			margin-bottom: 10px;
		}
	}
	.containerDescription {
		display: flex;
		gap: 10px;
		flex-wrap: wrap;
		.descriptionItem {
			margin-top: 10px;
			flex: 1 0 52%;
			border-radius: 10px;
			background-color: $bgDefaultAccentBlock;
			padding: 20px;
			font-size: 15px;
			color: $fontColorAccent;
		}
	}
	.containerPricesServices {
		display: flex;
		gap: 10px;
		flex-wrap: wrap;
		margin-top: 10px;
		.pricesServices {
			flex: 1 0 50%;
		}
	}
}
