@import 'src/assets/styles/variables';
.carouselReviews {
	margin: 0px 30px;
	.carouselItemReviews {
		position: relative;
		border-radius: 10px;
		margin: 20px 0px;
		padding: 20px;
		height: 200px;
		cursor: pointer;
		background-color: $bgDefaultAccentBlock;
	}
	.carouselTitle {
		color: $accent;
		font-size: 20px;
		text-align: center;
		margin-bottom: 10px;
	}
	.carouselblock {
		position: absolute;
		top: -15px;
		left: -20px;
		width: 50px;
		height: 50px;
		background-color: rgb(171, 171, 171);
		border-radius: 10px;
	}

	.carouselDescriptionReviews {
		margin-bottom: 15px;
	}

	.slick-slide > div {
		margin: 0px 20px;
	}

	.slick-dots {
		position: absolute;
		bottom: -20px !important;
		display: block;
		width: 100%;
		padding: 0;
		list-style: none;
		text-align: center;
	}

	.slick-dots li {
		position: relative;
		display: inline-block;
		width: 20px !important;
		height: 20px !important;
		margin: 0 5px;
		padding: 0;
		cursor: pointer;
	}

	.slick-dots li button {
		font-size: 0;
		line-height: 0;
		display: block;
		width: 20px;
		height: 20px;
		padding: 5px;
		cursor: pointer;
		color: transparent;
		border: 0;
		outline: none;
		background: transparent;
	}
	.slick-dots li button:hover {
		background-color: rgba(191, 191, 191, 0) !important;
	}

	.slick-dots li button:hover,
	.slick-dots li button:focus {
		outline: none;
	}

	.slick-dots li button:hover:before,
	.slick-dots li button:focus:before {
		opacity: 1;
	}

	.slick-dots li button:before {
		font-family: 'slick';
		font-size: 6px;
		line-height: 20px;
		position: absolute;
		top: 0;
		left: 0;
		width: 20px;
		height: 20px;
		content: url('/public/static/slider/circleSlider.svg');
		text-align: center;
		opacity: 0.25;
		color: rgb(201, 201, 201);
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
	}

	.slick-dots li.slick-active button:before {
		opacity: 0.75;
		color: rgb(186, 186, 186);
	}
	.slick-prev {
		left: -30px;
	}

	.slick-prev:before {
		content: url('/public/static/slider/arrowSliderLeft.svg');
	}
	.slick-next:before {
		content: url('/public/static/slider/arrowSliderRight.svg');
	}
}
@media only screen and (max-width: 767px) {
	.carouselReviews {
		.carouselblock {
			width: 40px;
			height: 40px;
		}
		.carouselDescriptionReviews {
			font-size: 13px;
		}
	}
}
