@import 'src/assets/styles/variables';
.containerButtonPortfolio {
	border-radius: 5px;
	align-items: center;
	width: 100%;
	img {
		width: 1.5vw;
		height: 1.5vw;
	}

	.button {
		display: flex;
		justify-content: center;
		gap: 5px;
		cursor: pointer;
		align-items: center;
		border: none;
		border-radius: 5px;
		font-weight: 800;
		color: $black;
		transition: background-color 0.3s ease;
		a {
			text-decoration: none;
			color: inherit;
		}
		&:hover {
			color: $white;
			background-color: $bgDefaultAccent;
		}
	}
}

@media only screen and (max-width: 767px) {
}
