@import 'src/assets/styles/variables';
.containerButtonPortfolio {
	display: flex;
	border-radius: 5px;
	align-items: center;
	img {
		width: 1.5vw;
		height: 1.5vw;
	}

	.button {
		display: flex;
		gap: 5px;
		cursor: pointer;
		align-items: center;
		border: none;
		border-radius: 5px;
		font-weight: 800;
		color: $black;
		transition: background-color 0.3s ease;
		a {
			text-decoration: none;
			color: inherit;
		}
		&:hover {
			color: $white;
			background-color: $bgDefaultAccent;
		}
	}
}

@media only screen and (max-width: 767px) {
	.containerButtonPortfolio {
		img {
			width: 4.5vw;
			height: 4.5vw;
		}

		.button {
			font-size: 5.2vw;
			background-color: #ffd622;
			padding: 4.5vw 6.5vw;
		}
	}
}
