@import 'src/assets/styles/variables';
.wrapperPortfolio {
	padding-top: 30px;
}
.container {
	margin: 0 auto;
	max-width: 1280px;
	margin-top: 5px;
	border-radius: 10px;
}
.containerBlock {
	display: flex;
	flex-direction: column;
	gap: 30px;
	padding-bottom: 20px;
}
.containerHeader {
	display: flex;
	justify-content: space-between;
}

.containerContent {
	padding: 0px 10px;
	border-radius: 5px;
	margin-right: 10px;
}
.contentHeaderTitle {
	font-size: 30px;
	color: $accent;
	font-weight: 800;
}
.contentHeaderSubtitle {
	font-size: 20px;
	color: $fontColor;
}

.containerMain {
	display: flex;
	flex-wrap: wrap;
	gap: 30px;
}

.containerMainItem {
	flex: 1 0 45%;
	background-color: $bgDefaultAccentBlock;
	gap: 5px;
	font-size: 1.5em;
	border: 2px solid #252525;
	border-radius: 10px;
}
