@import 'src/assets/styles/variables';
.wrapperPortfolio {
	padding-top: 30px;
}
.container {
	margin: 0 auto;
	max-width: 1280px;
	margin-top: 5px;
	border-radius: 10px;
}
.containerBlock {
	display: flex;
	flex-direction: column;
	gap: 30px;
	padding-bottom: 20px;
}
.containerHeader {
	display: flex;
	justify-content: space-between;
}

.contentHeaderTitle {
	font-size: 30px;
	color: $accent;
	font-weight: 800;
}
.contentHeaderSubtitle {
	font-size: 20px;
	color: $fontColor;
}

.containerMain {
	display: flex;
	flex-wrap: wrap;
	gap: 30px;
}

.containerMainItem {
	flex: 1 0 45%;
	background-color: $bgDefaultAccentBlock;
	gap: 5px;
	font-size: 1.5em;
	border-radius: 10px;
}

@media only screen and (min-width: 768px) and (max-width: 1023px) {
	.container {
		margin: 0 20px;
	}
}
@media only screen and (max-width: 767px) {
	.container {
		margin: 0 20px;
	}
	.containerHeader {
		flex-wrap: wrap;
		gap: 20px;
	}
	.contentHeaderSubtitle {
		text-align: center;
		margin-top: 10px;
	}
	.contentHeaderTitle {
		text-align: center;
	}
}
