@import 'src/assets/styles/variables';
.wrapperPortfolio {
	// background-color: rgb(37, 37, 37);
	padding-top: 30px;
}
.container {
	margin: 0 auto;
	max-width: 1280px;
	margin-top: 5px;
	border-radius: 10px;
}
.containerBlock {
	display: flex;
	flex-direction: column;
	gap: 30px;
	padding-bottom: 20px;
}
.containerHeader {
	display: flex;
	justify-content: space-between;
}

.containerContent {
	// background-color: rgb(53 53 53 / 57%);
	// backdrop-filter: blur(3px);
	padding: 0px 10px;
	border-radius: 5px;
	width: 100%;
	margin-right: 10px;
}
.contentHeaderTitle {
	font-size: 30px;
	color: $accent;
	font-weight: 800;
}
.contentHeaderSubtitle {
	font-size: 20px;
	color: $fontColor;
}

.containerButtonPortfolio {
	display: flex;
	border-radius: 5px;
	align-items: center;
	justify-content: end;
	width: 100%;
	.button {
		text-align: center;
		padding: 20px 20px;
		border: none;
		border-radius: 5px;
		font-size: 22px;
		font-weight: bold;
		background-color: $accent;
		color: $black;
		transition: background-color 0.3s ease;
		&:hover {
			background-color: $fontColor;
		}
	}
	p {
		color: #8f8f8f;
		font-size: 14px;
	}
}
.containerMain {
	display: flex;
	flex-wrap: wrap;
	gap: 30px;
}
.containerMainItem {
	flex: 1 0 45%;
	background-color: #1c1c1c;
	gap: 5px;
	border-radius: 5px;
	font-size: 1.5em;
	// padding: 10px 20px;
}
.mainItemBlockSlider {
	position: relative;
	overflow: hidden;
	width: 100%;
	border-radius: 10px;
	height: 400px; /* Высота блока, подставьте нужное значение */
	img {
		width: 100%;
		height: 100%;
		object-fit: cover;
	}
}

.mainItemContent {
	display: flex;
	justify-content: space-between;
	padding: 20px 30px;
}
.contentItemTitle {
	// margin-top: 20px;
}
.titleService {
	font-size: 15px;
}
.titleCheck {
	font-size: 15px;
}
.contentItemSubtitle {
	font-size: 15px;
}
.subtitleAddress {
	font-size: 15px;
}
.subtitleQuadrature {
	font-size: 15px;
}
