@import 'src/assets/styles/variables';
.wrapperStagesWork {
}

.container {
	margin: 0 auto;
	max-width: 1280px;
	border-radius: 10px;
}

.containerBlock {
	display: flex;
	flex-direction: column;
	gap: 20px;
	padding-bottom: 50px;
}

.containerHeader {
	display: flex;
	flex-direction: column;
	font-size: 20px;
	line-height: 1;
	font-weight: bold;
	color: $accent;
	background-color: $bgDefaultAccentBlock;
	padding: 20px;
	width: 100%;
	z-index: 4;
	border-radius: 5px;
}

.contentHeaderTitle {
	font-size: 30px;
	color: $accent;
}

.containerWrapper {
	display: flex;
	position: relative;
	// margin: 0 -100px;
}

.containerStageWork {
	display: flex;
	flex: 1;
	align-items: center;
	height: 100px;
}

.line {
	flex-grow: 1;
	height: 3px;
	background-color: rgb(80, 80, 80);
}

.circle {
	cursor: pointer;
	position: relative;
	width: 40px;
	height: 40px;
	border-radius: 50%;
	background-color: $bgDefaultAccent;
	font-weight: 800;
	display: flex;
	justify-content: center;
	align-items: center;
	color: $fontColorAccent;
	font-size: 16px;
	transition: background-color 0.5s ease;
	p {
		color: $bgdefault;
		position: absolute;
		top: -30px;
		&:hover {
			color: $black;
		}
	}
}

.circleShow {
	cursor: pointer;
	position: relative;
	width: 40px;
	height: 40px;
	border-radius: 50%;
	background-color: $accent;
	display: flex;
	justify-content: center;
	align-items: center;
	color: $fontColorAccent;
	font-weight: 800;
	font-size: 16px;
	transition: background-color 0.5s ease;
	p {
		font-weight: 800;
		position: absolute;
		top: -30px;
		&:hover {
			color: $black;
		}
	}
}

.circle:hover {
	background-color: #d9d932;
}

.containerWrapperDescription {
	display: flex;
	flex-wrap: wrap;
	gap: 20px;
}

.WrapperDescription {
	flex: 1 0 80%;
	font-weight: 800;
	color: $fontColorAccent;
	background-color: $bgDefaultAccentBlock;
	border-radius: 10px;
	padding: 20px;
}

.descriptionTitle {
	font-size: 22px;
	transition: opacity 0.5s ease;
	&.hide {
		opacity: 1;
	}
}

.descriptionSubtitle {
	font-size: 20px;
	transition: opacity 0.5s ease;
	&.hide {
		opacity: 1;
	}
}

.WrapperDescriptionButton {
	flex: 1 0 20%;
	font-weight: 800;
	text-align: center;
	border-radius: 10px;
	font-size: 25px;
	padding: 10px;
	height: 100px;
	border: 2px solid $accent;
	cursor: pointer;
	transition: border 0.5s ease, color 0.5s ease, background-color 0.5s ease;
	&:hover {
		background-color: $fontColor;
		border: 2px solid $fontColor;
		color: $accent;
	}
}
