@import 'src/assets/styles/variables';
.wrapperStagesWork {
}

.container {
	margin: 0 auto;
	max-width: 1280px;
	border-radius: 10px;
}

.containerBlock {
	display: flex;
	flex-direction: column;
	gap: 20px;
	padding-bottom: 50px;
}

.containerHeader {
	display: flex;
	flex-direction: column;
	font-size: 20px;
	line-height: 1;
	font-weight: bold;
	color: $accent;
	background-color: $bgDefaultAccentBlock;
	padding: 20px;
	width: 100%;
	z-index: 4;
	border-radius: 5px;
}

.contentHeaderTitle {
	font-size: 33px;
	font-weight: 800;
	color: $accent;
}

.containerWrapper {
	display: flex;
	gap: 10px;
	position: relative;
}

.containerStageWork {
	display: flex;
	flex: 1;
	align-items: center;
	justify-content: center;
}

.line {
	flex-grow: 1;
	height: 3px;
	background-color: rgb(80, 80, 80);
}

.circle {
	width: 100%;
	padding: 10px 20px;
	border-radius: 10px;
	background-color: $bgDefaultAccentBlock;
	font-weight: 800;
	display: flex;
	justify-content: center;
	align-items: center;
	color: $fontColorAccentV2;
	font-size: 16px;
	transition: background-color 0.5s ease;
	p {
		// color: $bgdefault;
		&:hover {
			color: $black;
		}
	}
}

.circleShow {
	width: 100%;
	padding: 10px 20px;
	border-radius: 10px;
	background-color: $fontColorAccent;
	display: flex;
	justify-content: center;
	align-items: center;
	color: $black;
	font-weight: 800;
	font-size: 16px;
	transition: background-color 0.5s ease;
	p {
		font-weight: 800;
		&:hover {
			color: $black;
		}
	}
}

.circle:hover {
	background-color: #d9d932;
}

.containerWrapperDescription {
	display: flex;
	flex-wrap: wrap;
	gap: 20px;
}

.WrapperDescription {
	flex: 1 0 70%;
	height: 100px;
	font-weight: 800;
	color: $fontColorAccent;
	background-color: $bgDefaultAccentBlock;
	border-radius: 10px;
	padding: 20px;
}

.descriptionTitle {
	font-size: 22px;
	transition: opacity 0.5s ease;
	&.hide {
		opacity: 1;
	}
}

.descriptionSubtitle {
	font-size: 20px;
	transition: opacity 0.5s ease;
	&.hide {
		opacity: 1;
	}
}

.WrapperDescriptionButton {
	flex: 1 0 20%;
	font-weight: 800;
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	border-radius: 10px;
	font-size: 28px;
	background-color: $bgDefaultAccentBlock;
	padding: 10px;
	// border: 2px solid #7d7d7d;
	cursor: pointer;
	transition: border 0.5s ease, color 0.5s ease, background-color 0.5s ease;
	&:hover {
		background-color: $bgDefaultAccentBlock;
		// border: 2px solid $fontColor;
		color: $accent;
	}
}
@media only screen and (max-width: 767px) {
	.container {
		margin: 0 20px;
	}
}
