@import 'src/assets/styles/variables';
.mainItemBlockSlider {
	position: relative;
	overflow: hidden;
	width: 100%;
}

.mainItemContent {
	display: flex;
	justify-content: space-between;
	padding: 20px 20px;
}

.titleService {
	font-size: 20px;
	font-weight: 800;
	margin-bottom: 10px;
	color: $accent;
	&.portfolioPage {
		font-size: 17px;
	}
}
.titleCheck {
	font-size: 20px;
	font-weight: 800;
	color: $fontColorAccent;
	&.portfolioPage {
		font-size: 17px;
		img {
			position: relative;
			top: 3px;
			left: -5px;
			width: 30px;
			height: 30px;
		}
	}
	img {
		position: relative;
		top: 3px;
		left: -5px;
		width: 30px;
		height: 30px;
	}
}
.contentItemSubtitle {
	display: flex;
	justify-content: space-between;
	font-size: 20px;
	flex-direction: column;
	&.portfolioPage {
		font-size: 17px;
	}
}
.subtitleAddress {
	color: black;
	font-weight: 800;
	padding: 5px 20px;
	border-radius: 5px;
	background-color: $accent;
	font-size: 20px;
	&.portfolioPage {
		font-size: 17px;
	}
}
.subtitleQuadrature {
	font-weight: 800;
	color: $fontColorAccent;
	margin-bottom: 5px;
	text-align: end;
	font-size: 20px;
	&.portfolioPage {
		font-size: 17px;
	}
}

@media only screen and (max-width: 767px) {
	.titleService {
		font-size: 16px;
	}
	.titleCheck {
		font-size: 16px;
		font-weight: 800;
		color: $fontColorAccent;
		img {
			position: relative;
			top: 3px;
			left: -5px;
			width: 30px;
			height: 30px;
		}
	}
	.contentItemSubtitle {
		display: flex;
		justify-content: space-between;
		font-size: 16px;
		flex-direction: column;
	}
	.subtitleAddress {
		color: black;
		font-weight: 800;
		padding: 5px 10px;
		border-radius: 5px;
		background-color: $accent;
		font-size: 16px;
	}
	.subtitleQuadrature {
		font-weight: 800;
		color: $fontColorAccent;
		margin-bottom: 5px;
		text-align: end;
		font-size: 16px;
	}
}
