@import 'src/assets/styles/variables';
.buttonsBlock {
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	border-bottom: 1px solid $white;
	.buttonWrapper {
		margin-bottom: 10px;
	}

	button {
		padding: 10px 20px;
		margin-right: 10px;
		border: none;
		font-weight: 800;
		cursor: pointer;
		outline: none;
		color: $white;
		background-color: $bgdefault;
		&.checked {
			background-color: $accent;
			color: rgb(7, 7, 7);
		}
		&:hover {
			color: $black;
		}
	}

	input[type='checkbox'] {
		display: none;
	}

	input[type='checkbox']:checked + button {
		background-color: $accent;
		color: rgb(0, 0, 0);
	}
}
