@import 'src/assets/styles/variables';
.calculatorPage {
}

.container {
	margin: 0 auto;
	max-width: 1280px;
}

.containerBlock {
	display: flex;
	flex-direction: column;
	margin-top: 20px;
	margin-bottom: 100px;
}
.containerBreadCrumbs {
}

.containerHeader {
	display: flex;
	flex-direction: column;
	.contentHeaderTitle {
		margin-top: 20px;
		font-size: clamp(17px, 25px, 45px);
		color: #ffd622;
		font-weight: 800;
		width: 80%;
	}
}
.containerDescription {
	display: flex;
	gap: 10px;
	.descriptionItem {
		margin-top: 10px;
		flex: 1 0 48%;
		border-radius: 10px;
		background-color: #2727273b;
		padding: 20px;
		font-size: 15px;
		color: $fontColorAccent;
	}
}
.containerPricesServices {
	display: flex;
	gap: 10px;
	flex-wrap: wrap;
	margin-top: 10px;
	.pricesServices {
		flex: 1 0 20%;
		text-align: center;
		border: 2px solid rgba(178, 178, 178, 0.382);
		border-radius: 10px;
		background-color: #2727273b;
		padding: 20px;
		color: $fontColorAccent;
		.servicesTitle {
			font-size: 20px;
			color: $fontColorAccent;
			font-weight: 700;
		}
		.servicesSubtitle {
			font-size: 15px;
			color: $accent;
		}
	}
}

.containerAdvantages {
	display: flex;
	flex-wrap: wrap;
	gap: 10px;
	margin-top: 20px;
	.advantagesBlock {
		flex: 1 0 20%;
		text-align: center;
		display: flex;
		flex-direction: column;

		border: 2px solid rgba(178, 178, 178, 0.382);
		border-radius: 10px;
		background-color: #2727273b;
		padding: 20px;
		color: $fontColorAccent;
		img {
			width: 50px;
			height: 50px;
		}
		.servicesTitle {
			font-size: 20px;
			color: $fontColorAccent;
			font-weight: 700;
		}
		.servicesSubtitle {
			font-size: 15px;
			color: $accent;
		}
	}
}
.actionItem {
	margin-top: 10px;
	border: 2px solid rgba(178, 178, 178, 0.382);
	border-radius: 10px;
	padding: 40px;
	.calculator {
		text-align: center;
	}
}

.containerActions {
	display: flex;
	gap: 10px;
	flex-wrap: wrap;
	.actionItem {
		&:first-child {
			flex: 1 0 55%;
			.actionItemTitle {
				font-size: clamp(17px, 25px, 35px);
				font-weight: 800;
				color: $accent;
				margin-bottom: 20px;
			}
			.actionItemSubtitle {
				width: 70%;
				font-size: clamp(12px, 17px, 25px);
				color: $fontColorAccent;
				font-weight: 700;
			}
		}
		&:last-child {
			flex: 1 0 30%;
			display: flex;
			flex-direction: column;
			img {
				width: 50px;
				height: 50px;
			}
			.actionItemTitle {
				font-size: 25px;
				font-weight: 800;
				color: $accent;
			}
			.actionItemSubtitle {
				font-size: 15px;
				color: $fontColorAccent;
				font-weight: 700;
			}
			.containerButtonItem {
				display: flex;
				justify-content: start;
				margin-top: 20px;
			}
		}
	}
}
.containerButton {
	display: flex;
	justify-content: end;
	margin-top: 43px;
}
@media only screen and (max-width: 767px) {
	.containerHeader {
		.contentHeaderTitle {
			margin-top: 30px;
			margin-left: 20px;
			font-size: clamp(17px, 25px, 45px);
			color: #ffd622;
			font-weight: 800;
			width: 80%;
		}
	}
	.container {
		margin: 0 20px;
	}
	.actionItem {
		margin-top: 10px;
		border: 2px solid rgba(178, 178, 178, 0.382);
		border-radius: 10px;
		padding: 20px;
		.calculator {
			text-align: center;
		}
	}
	.containerDescription {
		display: flex;
		flex-wrap: wrap;
		.descriptionItem {
			margin-top: 10px;
			flex: 1 0 52%;
		}
	}
}
