@import 'src/assets/styles/variables';
.containerBreadCrumbs {
	display: flex;
	align-items: center;
	margin: 10px 10px;
}
.crumbs {
	display: flex;
	align-items: center;
}

.separator {
	margin: 0 5px; /* отступ между разделителями */
	width: 20px;
	height: 20px;
}

.breadcrumb {
	font-weight: 800;
	color: $fontColorAccent;
	text-decoration: none;
	transition: color 0.3s;
	font-size: 20px;
	&.active {
		color: $fontColor;
	}
	span {
		img {
		}
	}
	&:hover {
		color: $accent; /* цвет ссылок при наведении */
	}
}
