@import 'src/assets/styles/variables';
.wrapperFooter {
	box-shadow: 3px -20px 20px 20px rgb(0 0 0 / 39%);
	background-color: rgba(0, 0, 0, 0.5490196078);
	border-top: 1px solid #ffd622;
}
.containerBasement {
	display: flex;
	background-color: rgba(39, 39, 39, 0.231372549);
}
.containerBasementBorders {
	margin: 0 auto;
	max-width: 1280px;
	width: 100%;
	display: flex;
}
.basementNavigation {
	flex: 1 0 70%;
	padding-top: 20px;
	display: flex;
	flex-direction: column;
	gap: 20px;
	padding-right: 20px;
	color: $fontColor;
	font-weight: 800;
	span {
		color: $accent;
		font-weight: 800;
	}
}

.navigationInfoCampania {
	font-size: 20px;
}
.navigationInfoSocialLink {
	display: flex;
	gap: 20px;
	width: fit-content;
}
.socialLink {
	width: 50px;
	height: 50px;
	background-color: rgb(83, 83, 83);
}
.basementInfo {
	display: flex;
	flex-direction: column;
	flex: 1 0 30%;
	gap: 20px;
}
.infoAdress {
	font-size: 17px;
	height: 100px;
	text-align: end;
	padding-top: 20px;
	color: $fontColor;
	font-weight: 800;
}
.infoContact {
	font-size: 17px;
	height: 100px;
	text-align: end;
	color: $fontColor;
	font-weight: 800;
}

@media only screen and (max-width: 767px) {
	.containerBasementBorders {
		margin: 0 20px;
	}
	.socialLink {
		width: 30px;
		height: 30px;
		background-color: rgb(83, 83, 83);
	}
	.basementInfo {
		display: flex;
		flex-direction: column;
	}
	.infoAdress {
		font-size: 12px;
		height: 50px;
		text-align: end;
		padding-top: 20px;
		color: $fontColor;
		font-weight: 800;
	}
	.infoContact {
		font-size: 12px;
		height: 50px;
		text-align: end;
		padding-top: 30px;
		margin-bottom: 40px;
		color: $fontColor;
		font-weight: 800;
	}
	.navigationInfoCampania {
		font-size: 15px;
	}
}
