@import 'src/assets/styles/variables';
.wrapperFooter {
	box-shadow: 3px -20px 20px 20px rgb(0 0 0 / 39%);
	background-color: rgba(0, 0, 0, 0.5490196078);
	border-top: 2px solid #ffd622;
}

.container {
}

.containerBlock {
	display: flex;
	flex-direction: column;
}
.containerFeedback {
	display: flex;
	margin: auto;
	max-width: 1280px;
	width: 100%;
	padding: 20px 0px;
}
.feedbackBlockQuestion {
	flex: 1 0 50%;
	display: flex;
	flex-direction: column;
	width: 100%;
	gap: 10px;
}
.feedbackQuestion {
	display: flex;
	flex-direction: column;
	width: 100%;
	text-align: center;
	justify-content: center;
	background-color: #2727273b;
	border-radius: 5px;
	padding: 20px;
	// border: 2px solid #616161;
}
.feedbackQuestionTitle {
	font-size: 30px;
}
.feedbackQuestionSubtitle {
	font-size: 20px;
}
.containerBasement {
	height: 200px;
	display: flex;
	background-color: rgba(39, 39, 39, 0.231372549);
}
.containerBasementBorders {
	margin: auto;
	max-width: 1280px;
	width: 100%;
	display: flex;
}
.basementNavigation {
	flex: 1 0 70%;
	padding-top: 20px;
	display: flex;
	flex-direction: column;
	gap: 20px;
	padding-right: 20px;
}
.navigationURL {
	display: flex;
	justify-content: space-between;
	li {
		font-size: 15px;
	}
}

.basementInfo {
	flex: 1 0 30%;
}
.navigationInfoCampania {
	font-size: 20px;
}
.navigationInfoSocialLink {
	display: flex;
	gap: 20px;
}
.socialLink {
	width: 50px;
	height: 50px;
	background-color: rgb(83, 83, 83);
}
.basementInfo {
	display: flex;
	flex-direction: column;
}
.infoAdress {
	font-size: 15px;
	height: 100px;
	// background-color: #333333;
	text-align: end;
	padding-top: 30px;
}
.infoContact {
	font-size: 15px;
	// background-color: #333333;
	height: 100px;
	text-align: end;
	padding-top: 30px;
}
