.socialLink {
	.container {
		cursor: pointer;
		display: flex;
		justify-content: center;
		align-items: center;
		background-color: #3c3c3c;
		padding: 5px;
		border-radius: 5px;
		a {
			color: gray;
		}
	}
	display: flex;
	gap: 10px;
	img {
		width: 20px;
		height: 20px;
	}
}

@media only screen and (max-width: 767px) {
	.container {
		cursor: pointer;
		display: flex;
		justify-content: center;
		align-items: center;
		background-color: #3c3c3c;
		padding: 10px;
		border-radius: 10px;
		img {
			width: 30px;
			height: 30px;
		}
	}
}
