@import 'src/assets/styles/variables';
.wrapperFooter {
	box-shadow: 3px -20px 20px 20px rgb(0 0 0 / 39%);
	background-color: rgba(0, 0, 0, 0.5490196078);
	border-top: 2px solid #ffd622;
}

.containerBlock {
	display: flex;
	flex-direction: column;
}
.containerFeedback {
	display: flex;
	margin: auto;
	max-width: 1280px;
	width: 100%;
	padding: 20px 0px;
}
.feedbackBlockQuestion {
	flex: 1 0 48%;
	margin-right: 10px;
	display: flex;
	flex-direction: column;
	width: 100%;
	gap: 15px;
}
.feedbackQuestion {
	display: flex;
	flex-direction: column;
	width: 100%;
	text-align: center;
	justify-content: center;
	background-color: #2727273b;
	border-radius: 5px;
	padding: 10px 10px 20px 10px;
}
.feedbackQuestionTitle {
	font-size: 24px;
	color: $accent;
	font-weight: 800;
}
.feedbackQuestionSubtitle {
	margin-top: 15px;
	font-size: 17px;
	line-height: 1;
	color: $fontColor;
}
