@import 'src/assets/styles/variables';
.menu {
	&.open {
		position: absolute;
		padding: 20px 30px 10px 30px;
		background-color: rgb(19 19 19 / 99%);
		width: 100%;
	}
	ul {
		display: flex;
		align-items: center;
		font-size: 16px;
		gap: 20px;
		li {
			a {
				text-decoration: none;
				color: $fontColor;
				font-weight: bold;
				transition: color 0.3s;
				&.active {
					color: $accent;
				}
			}

			a:hover {
				color: $accent;
			}
		}
	}
}
.dropdown {
	position: relative;
	.dropdownToggle {
		align-items: center;
		display: flex;
		color: $fontColor;
		font-weight: bold;
		cursor: pointer;
		img {
			position: relative;
			top: -1px;
			width: 30px;
			height: 30px;
			transition: transform 0.5s;
			&.arrow {
				transform: rotate(-180deg);
			}
		}
		&:hover {
			color: $accent;
		}
	}
	.submenu {
		display: block;
		position: absolute;
		top: 100%;
		left: 0px;
		width: 300px;
		z-index: 10000;
		border-radius: 10px;
		background-color: rgb(29, 29, 29);
		padding-bottom: 10px;

		li {
			padding: 0px 20px;
			margin-bottom: 10px;
			margin-top: 15px;

			a {
				color: $fontColor;
				font-size: 16px;
				font-weight: 800;
			}
		}
	}
}

@media only screen and (min-width: 768px) and (max-width: 1023px) {
	.dropdown {
		.submenu {
			// width: 250px;
			li {
				a {
					font-size: 12px;
				}
			}
		}
	}
}

@media only screen and (max-width: 767px) {
	.menu {
		position: absolute;
		display: flex;
		flex-direction: column;

		justify-content: space-between;
		height: calc(100vh - 70px);

		&.open {
			padding: 20px 30px 20px 30px;
		}
		ul {
			gap: 30px;
			flex-direction: column;
			align-items: start;
			font-size: 25px;
		}
		.socialLinkMobileHeader {
			margin-bottom: 10px;
			.container {
				display: flex;
				flex-direction: column;
				gap: 20px;
				.socialLink {
					display: flex;
					gap: 10px;
					img {
						width: 30px;
						height: 30px;
					}
				}
				.containerNumber {
					display: flex;
					gap: 5px;
					flex-direction: column;
					.number {
						font-size: 20px;
						color: $accent;
						font-weight: 800;
					}
					.description {
						font-size: 16px;
						color: $fontColorAccent;
					}
				}
			}
		}
	}
	.dropdown {
		.submenu {
			position: relative;
			background-color: rgba(0, 0, 0, 0);
			padding-bottom: 0;
			li {
				a {
					font-size: 16px;
				}
			}
		}
	}
}
