@import 'src/assets/styles/variables';

.container {
	margin: 0 auto;
	max-width: 1280px;
	margin-bottom: 50px;
	border-radius: 10px;
}

.containerBlock {
	display: flex;
	flex-direction: column;
}

.containerFAQ {
	max-width: 800px;
	margin: 0 auto;
	padding: 20px;
}

.containerHeader {
	display: flex;
	flex-direction: column;
	padding: 20px 20px;
	border-radius: 5px;
	background-color: $bgDefaultAccentBlock;
	font-weight: 700;
	margin-bottom: 10px;
}

.contentHeaderTitle {
	font-size: 33px;
	font-weight: 800;
	color: $accent;
	margin-bottom: 5px;
}
.contentHeaderSubtitle {
	font-size: 18px;
	color: $fontColorAccent;
}
.faq {
	.question {
		cursor: pointer;
		padding: 20px;
		margin-bottom: 10px;
		border-radius: 10px;
		background-color: $bgDefaultAccentBlock;
		transition: background-color 0.3s;
		img {
			width: 30px;
			height: 30px;
		}

		&:hover {
			background-color: $bgDefaultAccentBlock;
		}

		.questionText {
			display: flex;
			justify-content: space-between;
			padding-left: 10px;
			color: $fontColorAccent;

			font-weight: 800;
			font-size: clamp(18px, 25px, 30px);
			div {
				text-align: center;
			}
		}

		.answer {
			border-top: 2px solid $bgDefaultAccent;
			text-align: center;
			font-weight: 800;
			line-height: 1;
			color: $fontColor;
			padding: 20px 10px;
			margin-top: 10px;
		}
	}

	/* Анимация для входа */
	.questionEnter {
		opacity: 0;
		transform: translateY(-20px);
	}

	.questionEnterActive {
		opacity: 1;
		transform: translateY(0);
		transition: opacity 0.8s, transform 0.8s;
	}

	/* Анимация для выхода */
	.questionExit {
		opacity: 1;
		transform: translateY(0);
	}

	.questionExitActive {
		opacity: 0;
		transform: translateY(-20px);
		transition: opacity 0.8s, transform 0.8s;
	}
}
@media only screen and (max-width: 767px) {
	.container {
		margin: 0 20px;
		max-width: 1280px;
		margin-bottom: 50px;
	}
	.contentHeaderTitle {
		font-size: 25px;
		margin-bottom: 10px;
		color: $accent;
		font-weight: 800;
		border-radius: 5px;
		padding: 10px;
	}
	.faq {
		.question {
			cursor: pointer;
			padding: 10px;
			margin-bottom: 10px;
			border-radius: 10px;
			background-color: $bgDefaultAccentBlock;
			transition: background-color 0.3s;

			&:hover {
				background-color: $bgDefaultAccentBlock;
			}

			.questionText {
				padding-left: 10px;
				color: $fontColorAccent;
				font-weight: 800;
				font-size: 20px;
			}

			.answer {
				border-top: 2px solid;
				font-weight: 800;
				line-height: 1;
				color: $fontColor;
				padding: 20px 10px;
				margin-top: 10px;
			}
		}

		/* Анимация для входа */
		.questionEnter {
			opacity: 0;
			transform: translateY(-20px);
		}

		.questionEnterActive {
			opacity: 1;
			transform: translateY(0);
			transition: opacity 0.8s, transform 0.8s;
		}

		/* Анимация для выхода */
		.questionExit {
			opacity: 1;
			transform: translateY(0);
		}

		.questionExitActive {
			opacity: 0;
			transform: translateY(-20px);
			transition: opacity 0.8s, transform 0.8s;
		}
	}
}
