@import 'src/assets/styles/variables';
.WrapperFAQ {
}

.container {
	margin: 0 auto;
	max-width: 1280px;
	margin-bottom: 50px;
	border-radius: 10px;
}

.containerBlock {
	display: flex;
	flex-direction: column;
}

.containerHeader {
	display: flex;
	flex-direction: column;
}

.contentHeaderTitle {
	font-size: 30px;
	color: $accent;
	font-weight: 800;
	border-radius: 5px;
	padding: 10px;
}

.containerFAQ {
	max-width: 800px;
	margin: 0 auto;
	padding: 20px;
}
.faq {
	h2 {
		margin-bottom: 20px;
		font-size: 24px;
	}

	.question {
		cursor: pointer;
		padding: 10px;
		margin-bottom: 10px;
		border-radius: 10px;
		background-color: $bgDefaultAccentBlock;
		transition: background-color 0.3s;

		&:hover {
			background-color: $bgDefaultAccentBlock;
		}

		.questionText {
			padding-left: 10px;
			color: $fontColorAccent;
			font-weight: 800;
		}

		.answer {
			border-top: 2px solid;
			font-weight: 800;
			line-height: 1;
			color: $fontColor;
			padding: 20px 10px;
			margin-top: 10px;
		}
	}

	/* Анимация для входа */
	.questionEnter {
		opacity: 0;
		transform: translateY(-20px);
	}

	.questionEnterActive {
		opacity: 1;
		transform: translateY(0);
		transition: opacity 0.8s, transform 0.8s;
	}

	/* Анимация для выхода */
	.questionExit {
		opacity: 1;
		transform: translateY(0);
	}

	.questionExitActive {
		opacity: 0;
		transform: translateY(-20px);
		transition: opacity 0.8s, transform 0.8s;
	}
}
