@import 'src/assets/styles/variables';
.WrapperTeam {
	// background-color: #2727273b;
}
.container {
	margin: 0 auto;
	max-width: 1280px;
	padding-top: 30px;
	margin-top: 5px;
	border-radius: 10px;
}

.containerBlock {
	display: flex;
	flex-direction: column;
	gap: 10px;
	padding-bottom: 50px;
}

.containerHeader {
	display: flex;
	flex-direction: column;
	padding: 20px 40px;
	border-radius: 5px;
	background-color: $bgDefaultAccentBlock;
	font-weight: 700;
}

.contentHeaderTitle {
	font-size: 30px;
	font-weight: 800;
	color: $accent;
}
.contentHeaderSubtitle {
	font-size: 18px;
	color: $fontColor;
}

.containerSubtitleTeam {
	display: flex;
	flex-wrap: wrap;
	gap: 10px;
	height: 200px;
	font-size: 20px;
	color: $fontColor;
	font-weight: 700;
	margin-bottom: 10px;
	img {
		display: block;
		width: 40px;
		height: 40px;
	}
}
.SubtitleTeamTitle {
	flex: 1 0 25%;
	background-color: $bgDefaultAccentBlock;
	padding: 20px;
	border-radius: 10px;
}
.SubtitleTeamSubtitle {
	flex: 1 0 25%;
	background-color: $bgDefaultAccentBlock;
	padding: 20px 40px;
	border-radius: 10px;
}
.SubtitleTeamDiscription {
	flex: 1 0 48%;
	background-color: $bgDefaultAccentBlock;
	padding: 20px;
	border-radius: 10px;
}
