@import 'src/assets/styles/variables';
.container {
	margin: 0 auto;
	max-width: 1280px;
	padding-top: 30px;
	margin-top: 5px;
	border-radius: 10px;
}

.containerBlock {
	display: flex;
	flex-direction: column;
	gap: 30px;
}

.containerHeader {
	display: flex;
	flex-direction: column;
	padding: 20px 20px;
	border-radius: 5px;
	background-color: $bgDefaultAccentBlock;
	font-weight: 700;
}

.contentHeaderTitle {
	font-size: 33px;
	font-weight: 800;
	color: $accent;
	margin-bottom: 5px;
}
.contentHeaderSubtitle {
	font-size: 18px;
	color: $fontColorAccent;
}

.containerSubtitleTeam {
	display: flex;
	flex-wrap: wrap;
	gap: 10px;
	font-size: 20px;
	font-weight: 800;
	margin-bottom: 10px;
	img {
		display: block;
		width: 40px;
		height: 40px;
	}
}
.SubtitleTeamSubtitle {
	flex: 1 0 35%;
	display: flex;
	background-color: $bgDefaultAccentBlock;
	padding: 20px 20px;
	align-items: center;
	border-radius: 10px;
	color: $fontColorAccent;
	img {
		margin-right: 10px;
		display: block;
		position: relative;
		top: -3px;
		width: 50px;
		height: 50px;
	}
}
.SubtitleTeamDiscription {
	flex: 1 0 48%;
	display: flex;
	background-color: $bgDefaultAccentBlock;
	padding: 20px;
	color: $fontColorAccent;
	border-radius: 10px;
	img {
		margin-right: 5px;
		display: block;
		position: relative;
		top: -3px;
		width: 50px;
		height: 50px;
	}
}

@media only screen and (max-width: 767px) {
	.container {
		margin: 0 20px;
	}
	.containerHeader {
		display: flex;
		flex-direction: column;
		padding: 20px 20px;
		border-radius: 5px;
		background-color: $bgDefaultAccentBlock;
		font-weight: 700;
	}

	.contentHeaderTitle {
		font-size: 25px;
		margin-bottom: 10px;
		font-weight: 800;
		color: $accent;
	}
	.contentHeaderSubtitle {
		font-size: 15px;
		color: $fontColor;
	}

	.containerSubtitleTeam {
		display: flex;
		flex-wrap: wrap;
		gap: 10px;
		font-size: 20px;
		color: $fontColor;
		font-weight: 700;
		margin-bottom: 10px;
		img {
			display: block;
			width: 30px;
			height: 30px;
		}
	}
	.SubtitleTeamTitle {
		flex: 1 0 53%;
		background-color: $bgDefaultAccentBlock;
		padding: 20px;
		border-radius: 10px;
	}
	.SubtitleTeamSubtitle {
		flex: 1 0 53%;
		font-size: 18px;
		background-color: $bgDefaultAccentBlock;
		padding: 20px 20px;
		border-radius: 10px;
	}
	.SubtitleTeamDiscription {
		flex: 1 0 48%;
		background-color: $bgDefaultAccentBlock;
		padding: 20px;
		font-size: 18px;
		border-radius: 10px;
	}
}
