@import './variables';

* {
	margin: 0;
	padding: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	&:before,
	&:after {
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
	}
	&:focus {
		outline: none;
	}
	font-family: $default-font;
	list-style: none;
	font-family: 'Nunito', sans-serif;
	font-optical-sizing: auto;
	font-style: normal;
	text-decoration: none;
}

*::-webkit-input-placeholder {
	color: #c0c0c0;
	opacity: 1;
}
*:-moz-placeholder {
	color: #c0c0c0;
	opacity: 1;
}

*::-moz-placeholder {
	color: #c0c0c0;
	opacity: 1;
}

*:-ms-input-placeholder {
	color: #c0c0c0;
	opacity: 1;
}

// html,
// body {
// 	background: -webkit-linear-gradient(
// 		89deg,
// 		#000000,
// 		#171717,
// 		#262727,
// 		#171717,
// 		#000000
// 	); /* Chrome 10-25, Safari 5.1-6 */
// 	background: linear-gradient(
// 		89deg,
// 		#000000,
// 		#171717,
// 		#262727,
// 		#171717,
// 		#000000
// 	); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
// }

body {
	height: 100%;
	background-color: #202020;
	padding: 0;
	color: $fontColor;
	margin: 0;
	min-width: 320px;
	position: relative;
	line-height: 1;
	overflow-x: hidden;
}
a {
	border: none;
}

img {
	max-width: 100%;
}

.img-responsive {
	display: block;
	max-width: 100%;
	height: auto;
}

.dark-link {
	text-align: right;
	width: 100%;
	display: block;
	margin-bottom: 0.5rem;
	text-decoration: none;
	transition: color 0.3s ease;

	&:hover {
		// color: darken($accent, 10%);
	}
}

.wrapper-inner-page {
	padding: 40px 30px;
	text-align: center;
	max-width: 560px;
	width: 100%;
	margin: 0 auto;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

/* Firefox */
input[type='number'] {
	-moz-appearance: textfield;
}
